/* Container */
.container {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: var(--spacing4);
  text-align: center;
  background-color: var(--cultured);
  margin-bottom: var(--spacing10);
}

/* Headline */
.headline {
  text-transform: uppercase;
  margin-bottom: var(--spacing3);
  color: var(--gray);
  font-size: 1.5rem;
}

/* Value */
.value {
  font-size: 2rem;
  color: var(--purple);
  margin-bottom: var(--spacing3);
  font-weight: bold;
}

/* ButtonsContainer */
.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--spacing3);
}