/* Container */
.container {
  width: 100%;
  height: var(--main-navigation-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple);
  color: var(--white);
  padding: 0 var(--spacing4);
}

/* List */
.list {
  display: flex;
  list-style: none;
  align-items: center;
}

/* ListItem */
.listItem {
  margin: 0 var(--spacing2);
}

/* ListLink */
.listLink {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--white);
}

.listLink:hover,
.listLink:active {
  color: var(--pink);
}

/* Button */
.button {
  font-size: 1.25rem;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: var(--brown);
}

.button:hover,
.button:active {
  background-color: var(--orange);
  border-color: var(--orange);
}
